
            <div id="{{ns_id}}">
                <h4>{{title}} ({{ns_id}})</h4>
                <p>
                    {{description}}
                </p>
                <ul>
                    <li><b>Last Updated:</b> {{release_date}}</li>
                    <li><b>Issue Tracking:</b> <a href="{{issues_url}}">{{issues_url}}</a></li>
                    <li><b>Github Repo:</b> <a href="{{github_url}}">{{github_url}}</a></li>
                    <li><b>Data Dictionary Files:</b>
                        <ul>
                            <li><a href="{{xsd_path}}">{{xsd_fname}}</a></li>
                            <li><a href="{{sch_path}}">{{sch_fname}}</a></li>
                            <li><a href="{{xml_path}}">{{xml_fname}}</a></li>
                            <li><a href="{{json_path}}">{{json_fname}}</a></li>
                            <li><a href="{{zip_path}}">{{zip_fname}}</a></li>
                        </ul>
                    </li>
                </ul>
                <p><a class="toTop">Back to top</a></p>
            </div>
